<div class="h-card" style="display:none">
  <a class="u-url u-uid p-name" href="https://asadaame5121.net/">あさだあめ</a>
  <img class="u-photo" src="/assets/images/profile.jpg" alt="あさだあめ" />
  <span class="p-note">本を読んだりするおじさん。</span>
  <a class="u-github" rel="me" href="https://github.com/asadaame5121">GitHub</a>
  <a class="u-fediverse" rel="me" href="https://bsky.app/profile/asadaame5121.bsky.social">Fediverse</a>
</div>
