<footer class="h-16 bg-mono-black text-mono-silver flex justify-between items-center px-8 shadow-inner font-sans">
  <div class="flex flex-col">
    <div class="flex gap-6">
      <a href="/contact" class="text-mono-silver no-underline transition-colors hover:text-mono-white">お問い合わせ</a>
      <a href="/privacy" class="text-mono-silver no-underline transition-colors hover:text-mono-white">プライバシーポリシー</a>
    </div>
  </div>
  <div class="flex flex-col">
    <div class="text-sm"> &copy; 2025 DropGarden All Rights Reserved.</div>
  </div>
</footer>

{{ content | safe }}
