<nav class="site-navbar">
  <ul class="menu">
    <!-- ハードコーディングしたカテゴリ -->
    <li>
      <a href="/Article/" class="nav-link">記事</a>
    </li>
    <li>
      <a href="/Book/" class="nav-link">書籍</a>
    </li>
    <li>
      <a href="/Glossary/" class="nav-link">用語集</a>
    </li>
    <li>
      <a href="/Clippings/" class="nav-link">クリッピング</a>
    </li>
    <li>
      <a href="/Inbox/" class="nav-link">インボックス</a>
    </li>
  </ul>
</nav>